<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Movie BoxOffice Rank</title>
  <!-- Vue.js를 위한 CDN-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <!-- Vue 라우터를 위한 CDN -->
  <script src="https://unpkg.com/vue-router@3.5.3/dist/vue-router.js"></script>
  <!-- Axios를 위한 CDN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Bootstrap CDN-->
  <link rel="StyleSheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <!-- Bootstrap modal CDN -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>

</head>

<body class="d-flex h-100 text-bg-dark">
  <div id="movie">
    <div class="px-3 py-2 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center ">
          <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-1" style="color: yellow;" v-on:click="reLoad">Movie BoxOffice Rank</span>

            <!-- 여기는 공백을 만들어주기 위한 로직 -->
            <div class="px-3 py-2 border-center mb-0">
              <div class="container d-flex flex-wrap jestify-content-center"></div>
            </div>
            <div class="px-3 py-2 border-center mb-0">
              <div class="container d-flex flex-wrap jestify-content-center"></div>
            </div>
            <div class="px-3 py-2 border-center mb-0">
              <div class="container d-flex flex-wrap jestify-content-center"></div>
            </div>
            <div class="px-3 py-2 border-center mb-0">
              <div class="container d-flex flex-wrap jestify-content-center"></div>
            </div>

            <div class="px-3 py-2 border-center mb-0">
              <div class="container d-flex flex-wrap jestify-content-center">
                <form class="col-12 col-lg-auto mb-0 mb-lg-0 me-lg-auto" role="search">
                  <input type="date" v-model="searchDate" class="form-control" placehodler="search" aria-label="search">
                </form>
              </div>
            </div>
            <button type="button" class="btn btn-outline-light" v-on:click="myFunc">검색</button>
          </a>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="moviemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-dark bg-white">{{ detailInfo.movieNm }} </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <div class="text-dark bg-white"> 제작년도 :{{ detailInfo.prdtYear }}</div>
              </div>
              <div v-for="nation in detailInfo.nations">
                <div class="text-dark bg-white"> 제작국가 :{{ nation.nationNm }}</div>
              </div>
              <div v-for="director in detailInfo.directors">
                <div class="text-dark bg-white"> 감독 :{{ director.peopleNm }}</div>
              </div>
              <div v-for="actor in detailInfo.actors">
                <div class="text-dark bg-white"> 배우 :{{ actor.peopleNm }}</div>
              </div>
              <div class="text-dark bg-white"> 상영시간 :{{ detailInfo.showTm }}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-sm table table-bordered table table-light table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center">선택</th>
            <th scope="col" class="text-center">순위</th>
            <th scope="col" class="text-center">포스터</th>
            <th scope="col" class="text-center">제목</th>
            <th scope="col" class="text-center">관람객 수</th>
            <th scope="col" class="text-center">개봉일</th>
            <th scope="col" class="text-center">삭제</th>
          </tr>
        </thead>
        <tbody class="text-bg-dark">
          <div class="px-3 py-2 text-bg-white text-bg-dark" align="right">
            <button type="button" class="btn btn-danger" v-on:click="selDelete">선택삭제</button>
          </div>
          <tr v-for="item in list" :key="item.rank" class="table table-dark">
            <td><input type="checkbox" :value=item.movieNm v-model="checklist"></td>
            <td class="text-center">{{ item.rank }}</td>
            <td><img v-bind:src="imgurl[item.rnum - 1]" /></td>
            <td class="text-center"> <a href="#" data-bs-toggle="modal" data-bs-target="#moviemodal"
                v-on:click="searchInfo(item.movieCd)">{{ item.movieNm }}</a> </td>
            <td class="text-center">{{ item.audiAcc }}</td>
            <td class="text-center">{{ item.openDt }}</td>
            <td><button type="button" class="btn btn-danger" v-on:click="removeRow(item.rank)">삭제</button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>


  <script>
    new Vue({
      data: {
        list: [],
        imgurl: [],
        searchDate: '',
        checklist: [],
        detailInfo: [],
      },

      methods: {
        myFunc: function () {
          // Axios를 이용한 AJAX 호출
          let cmp = this;
          axios({
            url: 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json',
            method: 'GET',
            // JQuery에서는 data를 통해 정보를 넘겨줬는데 Vue 에서 data는 POST,PUT,DELETE 메소드 방식에만 적용이 가능
            // Vue 에서는 params가 URL parameter를 치징한다. Query String으로 전달되는 데이터를 의미하며 당연히 GET방식
            // JQuery:data = Vue:params
            params: {
              key: '6e32c1eecd679c968eec7ee87f533a98',
              targetDt: this.searchDate.replace(/-/g, '')
            },
            responseType: 'json' // 기본값
          })
            .then(res => {  // .then = 성공했을 때 호출
              cmp.list = res.data.boxOfficeResult.dailyBoxOfficeList;
              console.log(cmp.list)
              let img = this;
              // foreach문을 사용하는데 foreach문은 jQuery의 $each문과 비슷한 형태이며 문장에 대해 설명을 적어보면 
              cmp.list.forEach(function (item, idx) {  // cmp.list는 function의 item으로 명시, idx는 증가하는 숫자를 의미한다.
                // 밑에 있는 문장들을 한번씩 돌려 필요한 만큼 한번한번 돌리므로 이미지가 포스터 수에 맞게 들어간다.
                axios({
                  url: 'https://dapi.kakao.com/v2/search/image',
                  method: 'GET',
                  params: {
                    query: item.movieNm + '포스터'
                  },
                  headers: {
                    Authorization: 'KakaoAK 0b5d171371beef2d526a7ae4a14a3eed'
                  }
                })
                  .then(function (result) {
                    Vue.set(img.imgurl, idx, result.data.documents[2].thumbnail_url); // Vue.set은 내가 컴퓨터한테 선언하는 것이다. 
                  })
                  .catch(function (err) {
                    console.log(err)
                  })
              });

            })
            .catch(function (err) { // .catch() = 실패했을 때 호출
              console.log(err)
              alert('날짜 고를 줄 모르냐?')
            });
        },

        removeRow: function (rank) {
          this.list = this.list.filter((e) => e.rank !== rank);
          this.checklist = [];
        },
        selDelete: function () {
          this.list = this.list.filter(
            (item) => !this.checklist.includes(item.movieNm)
          );
          this.checklist = [];
        },
        searchInfo: function (movieCd) {
          let esc = this;
          axios({
            url: 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json',
            method: 'GET',
            params: {
              key: '6e32c1eecd679c968eec7ee87f533a98',
              movieCd: movieCd
            },
            responseType: 'json' // 기본값
          })
            .then(function (res) {
              esc.detailInfo = res.data.movieInfoResult.movieInfo
            })
            .catch(function (err) {
              console.log(err)
            })
        },
        reLoad: function () {
          location.reload();
        }

      }

    }).$mount('#movie')
  </script>
</body>

</html>